.sign-in-container {
    display: inline-flex;
    flex-direction: column;
    width: 380px;
    margin-right: 56px;

    h2 {
        margin: 10px 0;
    }
    .buttons-container{
        margin: 0 12px 0 0;
        display: inline-flex;
        button{
            display: flex;
            margin-right: 16px;
        }
    }
}